sdk/en.SDK-x86_64-stm32mp1-openstlinux-5.15-yocto-kirkstone-mp1-v22.11.23.tar.gz
sdk/stm32mp1-openstlinux-5.15-yocto-kirkstone-mp1-v22.11.23/
openstlinux-5.15-yocto-kirkstone-mp1-v22.11.23/
uboot-stm32mp/
atf-stm32mp/
output/